# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files

##
## .NET / ASP.NET Core
##
[Bb]in/
[Oo]bj/
[Bb]in_*/
[Oo]bj_*/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

project.lock.json
project.fragment.lock.json
artifacts/
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.user
*.userosscache
*.sln.docstates

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

.vs/
*.rsuser
*.suo
*.DotSettings.user

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

ParkingSystem.Api/uploads/
!ParkingSystem.Api/uploads/.gitkeep
**/appsettings.*.local.json
secrets.json

##
## Angular / Node (parking-web)
##
node_modules/
npm-debug.log
yarn-error.log

parking-web/dist/
parking-web/tmp/
parking-web/out-tsc/
parking-web/bazel-out/
parking-web/.angular/cache
parking-web/coverage/
parking-web/typings/
parking-web/.sass-cache/
parking-web/connect.lock
parking-web/libpeerconnection.log
parking-web/testem.log

##
## IDEs and editors
##
.idea/
*.sln.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

##
## OS
##
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
